<div class="sidenav">
  <div class="py-4 containers">
    <h1 class="text-white text-center">
      <span class="story">Story</span> <span class="book">Book</span>
    </h1>
    <hr class="text-white" />
    <img src="../../../assets/book.png" alt="" id="Logo" />
    <div class="container d-flex flex-column sidenav-links">
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/admin"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/writer"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Writer Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'reader'"
        routerLink="/reader"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Reader Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/user-management"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-person-circle"></i><span>User</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/view"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Most Views Books</span>
      </li>
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/product"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-bag-fill"></i><span>Books</span>
      </li>
      <li
        (click)="logout()"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-box-arrow-left"></i><span>Logout</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/writer"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        class="btn btn-success"
      >
        <i class="bi bi-speedometer"></i><span>Add Book</span>
      </li>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Book Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Writer Name</label>
          <input type="text" placeholder="Please Enter Your Name" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Book Name</label>
          <input type="text" placeholder="Please Enter Your Book Name" formControlName="bookName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Genre</label>
          <input type="text" placeholder="Please Enter Your Genre" formControlName="genre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="custom-file">
          <label class="custom-file-label" for="validatedCustomFile"><br>Img</label>
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        </div>
        <div class="form-outline, mt-3">
          <label class="form-label" for="textAreaExample">Description</label>
          <textarea class="form-control" placeholder="Please Enter Your Story" name="body" id="textAreaExample1" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
