<div class="sidenav">
  <div class="py-4 containers">
    <h1 class="text-white text-center">
      <span class="story">Story</span> <span class="book">Book</span>
    </h1>
    <hr class="text-white" />
    <img src="../../../assets/book.png" alt="" id="Logo" />
    <div class="container d-flex flex-column sidenav-links">
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/admin"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/writer"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Writer Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'reader'"
        routerLink="/reader"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Reader Dashboard</span>
      </li>
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/user-management"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-person-circle"></i><span>User</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/view"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-speedometer"></i><span>Most Views Books</span>
      </li>
      <li
        *ngIf="userPosition === 'admin'"
        routerLink="/product"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-bag-fill"></i><span>Books</span>
      </li>
      <li
        (click)="logout()"
        class="list-group-item list-group-item-action d-flex gap-2"
      >
        <i class="bi bi-box-arrow-left"></i><span>Logout</span>
      </li>
      <li
        *ngIf="userPosition === 'writer'"
        routerLink="/writer"
        routerLinkActive="link-active"
        class="list-group-item list-group-item-action d-flex gap-2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        class="btn btn-success"
      >
        <i class="bi bi-speedometer"></i><span>Add Book</span>
      </li>
    </div>
  </div>

  <app-add-book-modal></app-add-book-modal>
</div>
