<h1 class="mt-5"> Welcome to Admin Dashboard</h1>
<div class="qwe container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class=" con col-md-3 mx-auto" >
                        <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <i class="bi bi-people-fill" style="font-size: 2em;"></i>
                                <h3 class="fs-2 text-center">9</h3>
                                <p class="fs-5">List of User</p>
                            </div>
                        </div>
                    </div>
                    
                   <div class=" cor col-md-3 mx-auto">
          <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <i class="bi bi-book-fill" style="font-size: 2em;"></i>
                  <h3 class="fs-2 text-center">9</h3>
                  <p class="fs-5">List of Books</p>
              </div>
          </div>
                </div>

                <div class="ron col-md-3 mx-auto" >
                  <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                      <div>
                          <i class="bi bi-people-fill" style="font-size: 2em;"></i>
                          <h3 class="fs-2 text-center">9</h3>
                          <p class="fs-5">List of Reader</p>
                      </div>
                  </div>
              </div>

                </div>

              </div>
 <h1 style="transform: translate(0px, 100px);">Top 5 Genre</h1>
              <div class="container mt-3">           
                <table class="table table-bordered"  style=" border-style: solid; border-color: #A8DF8E; transform: translate(400px, 120px); width: 40%;" >
                  <thead style="text-align: center;">
                    <tr>
                      <th>Genre</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center;">
                    <tr> 
                      <td>Adventure Science fiction</td>
                    </tr>
                    <tr>
                      <td>Tragedy</td>
                    </tr>
                    <tr>
                      <td>Romance Novel</td>
                    </tr>
                    <tr>
                      <td>Science Fiction</td>
                    </tr>
                    <tr>
                      <td>Southern Fiction</td>
                    </tr>
                  </tbody>
                </table>
              </div>
    