<h1 style="text-align: center" class="mt-3">Library</h1>

<table class="table mt-3 p-5">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Book Image</th>
      <th scope="col">Book Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Description</th>
      <th scope="col">Story</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <td *ngIf="isLoading">loading...</td>
      <td>{{ i + 1 }}</td>
      <td>
        <img
          style="object-fit: cover"
          width="80px"
          height="80px"
          src="{{ book.url }}"
          alt=""
        />
      </td>

      <td>{{ book.name }}</td>
      <td>{{ book.genre }}</td>
      <td>
        {{
          book.description.length > 50
            ? book.description.substring(0, 50) + "..."
            : book.description
        }}
      </td>
      <td>
        {{ book.body ? book.body.substring(0, 30) + "..." : "" }}
      </td>
      <td class="d-flex">
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#editBookModal"
          class="btn btn-primary p-2 m-1"
          (click)="selectItem(book.book_id)"
        >
          Edit
        </button>

        <button
          type="button"
          class="btn btn-danger p-2 m-1"
          (click)="removeBook(book.book_id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-edit-book-modal></app-edit-book-modal>
